.index {
	display: flex;
	height: 100vh;	
	width: 100%;
	.cropped {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100vh;
		width: 40%;
		margin: 0;
		.cropped__link {
			display: flex;
			justify-content: flex-end;
			overflow: hidden;
			height: 40vh;
			width: 100%;
			.cropped__link__img {
				max-height: 100%;
				max-width: 100%;
				transition: 1s;
			 	filter: grayscale(100%);
				&:hover, &:focus {
					filter: none;
				}
				&:active {
					opacity: .3;
				}
			}
		}
	}
	.container {
		display: flex;
		align-items: center;
		height: 100vh;
		width: 60%;
		.container__border {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			border-top-style: solid;
			border-left-style: solid;
			border-width: 1px;
			box-shadow: 20px 20px 40px #020411;
			height: 60vh;
			width: 80%;
			.container__border__link {
				display: flex;
				justify-content: flex-end;
				padding: .3em;
				width: 80%;
				img {
					transition: .5s;
					width: 98%;
					&:hover, &:active, &:focus	 {
						width: 100%;
					}
				}
			}
		}
	}
}